# --- Allow everything inside workingInFabric ---
!workingInFabric/**
!workingInFabric/**/
!workingInFabric/*/

# --- (leave your other Power BI ignores below) ---
*/.pbi/localSettings.json
*/.pbi/cache.abf